<h2 style = 'width: 60%; margin: auto; text-align: center; padding-bottom: 3%'>Listing Articles</h2>
<p style = 'width: 60%; margin: auto; padding-bottom: 2%; font-weight: bold; text-decoration: none'>
<%= link_to 'New article', new_article_path %>
</p>

<table style = 'width: 60%; margin: auto; '>
  <tr>
    <th width = '15%'>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
